.service-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 30px auto 0 auto;
    align-content: baseline;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 18px;
}
.service-imge img {
    height: 400px;
    width: auto;
}

.service-imge {
    flex: 1 1;
    text-align: right;
    margin-right: 30px;
    height: 400px;
}

.service-info {
    flex: 1 1;
    text-align: center;
    margin-left: 30px;
}

.service-list {
    margin: auto 0;
    flex: 1 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .service-container {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .service-imge {
        text-align: center;
        margin: 30px 15px;
    }

    .service-info {
        text-align: center;
        margin: auto 15px;
    }
}

@media (max-width: 375px) {
    .service-imge img {
        height: 320px;
        width: auto;
    }
}
