.custom-iframe {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 1280px; 
    height: 540px;
    margin: 0 auto;
}

.video-container {
    position: relative;
    /* padding-bottom: 56.25% 16:9; */
    padding-top: 10px;
    /* height: 0; */
}

@media screen and (max-width: 600px) {
    .custom-iframe {
        width: 100%;
        height: 100%;
    }
}