#vk-footer {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}
.copy-container{
    font-size: 12px;
}