#vk-footer {
    width: 100%;
    height: 75px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    bottom: 0;
    color: #fff;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}